/* You can add global styles to this file, and also import other style files */
// Variables
:root {
    --background: #1a1a2e;
    --color: #ffffff;
    --primary-color: #0f3460;
  }
  
  // Global Styles
  * {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: var(--background);
    color: var(--color);
    letter-spacing: 1px;
    transition: background 0.2s ease;
  
    a {
      text-decoration: none;
      color: var(--color);
    }
  
    h1 {
      font-size: 2.5rem;
    }
  }


  
  // Containers
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
  }
  